<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" >
        <title>Biblioteca Egg</title>
        <link href="css/one-page-wonder.min.css" rel="stylesheet">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />

    </head>

    <body>
        
        <main class="container">

            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Billing address</h4>
                <form action="/paciente/registroPuntuacion" method="POST" class="needs-validation" novalidate=""
                    enctype="multipart/form-data">
                    <h1 class="text-center" >Formulario de puntuación</h1>
                    <h2 class="text-center" th:text="'profesional '+ ${profesional.nombreCompleto}"></h2>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">id</label>
                            <input disabled type="text" class="form-control" id="firstName" placeholder="" value="" required=""  th:value="${profesional.id}"
                                name="idProfesional">
                        </div>
<!-- 
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required=""
                                name="nombreCompleto">
                        </div> -->



                        <!-- <input type="radio" th:value="1m" name="lunes" id="">
                        <input type="radio" th:value="1t" name="lunes" id="">
                        <input type="radio" th:value="1n" name="lunes" id="">
                        <input type="radio" th:value="2m" name="martes" id="">
                        <input type="radio" th:value="2t" name="martes" id=""> -->

                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">num</label>
                            <input type="number" class="form-control" id="firstName" placeholder="" value="" required=""
                                name="nombreCompleto">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                      
                    </div>
    
                    <hr class="my-4">
    
    
                    <hr class="my-4">
                  
    
                    <hr class="my-4">
    
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Registrar</button>
                </form>
            </div>
        </main>

       


        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

     <footer class="text-muted py-5">
            <div class="containerFooter">
                <p class="mb-1">Album example is &copy; Bootstrap,<br>but please download and customize it for yourself!</p>
                <p class="mb-0">New to Bootstrap? <a href="/"><br>Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
                <p class="float-end mb-1">
                    <a href="#" style="text-decoration:none"><span>⬆️</span> Back to top</a>
                </p>
            </div>
        </footer>

    
</html>
